@font-face {
    font-family: Varsity;
    src: url(varsity_classic.TTF);
}

/* Site Wide */

body > .container {
    position:relative;
    margin-top:10px;
}

.navbar {
    background-color: #555;
    color: white !important;
    border-bottom: 4px solid #0e175c;
    padding-top: 5px;
}

.navbar-default a {
    color: white !important;
}

.navbar-default a:hover {
    background: #999 !important;
}

.navbar-brand img {
    display: inline-block;
    margin-right: 5px;
    height: 35px;
    margin-top: -10px;
}


.navbar-default span:not(.sr-only) {
    background:#fff;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

h1 {
    font-family: Varsity;
    font-weight: bold;
    color: #333;
    font-size: 45px;
    margin-bottom: 30px;
}

.footer {
    text-align: center;
}

.indent {
    margin-left: 20px;
}

.btn-margin {
    margin: 5px;
}

/* -- Front Page -- */

.jumbotron {
    position:relative;
    background: none;
}
.jumbotron h1 {
    margin-bottom: 10px;
    color: #FFF;
    font-weight: normal;
    -webkit-text-stroke-color: #ac1608;
    -webkit-text-stroke-width: 2px;
}

.jumbotron h2 {
    color: #0e175c;
}

.jumbotron::before {
    content:"";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    position: absolute;
    border-radius: 15px;
    border: 4px #0e175c solid;
}

.jumbotron::after {
    content:"";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
    background: url(../images/building.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.8;
    border-radius: 15px;
}

/* guests index */
.hiderow td {
    padding: 0px !important;
    display: none;
}

.detailrow td {
    transition-duration: 500;
}

.guestrow td:not(.noclick) {
    cursor: pointer;
}

.button-holder {
    vertical-align: middle;
}

.action-col {
    width: 160px;
}

.found-col {
    width: 3em;
    text-align: center;
}

.notes-col {
    width: 2em;
    text-align: center;
}

.status-col {
    width: 4em;
    text-align: center;
}

.found, .notfound {
    width: 1.5em;
    height: 1.5em;
    border-radius: 1em;
    text-align: center;
    line-height: 1.7;
    color: white;
    display: inline-block;
}

.found {
    background-color: DarkOliveGreen;
}

.notfound {
    background-color: DarkRed;
}

.found16 {
    cursor: pointer;
}

.add-guest {
    margin-bottom: 10px;
}

.alert {
    clear: both;
    margin-top: 5px;
}

.filter-holder {
    padding-left: 0 !important;
}

.email-list, .questionnaires {
    margin-right: 10px;
    margin-left: 10px;
}

.button-row {
    margin-bottom: 10px;
}


/*  Answers Page */

.guestName {
    text-align: baseline;
    margin:50px 0 15px;
    padding-bottom:20px;
}
.guestName h2 {
    float:left;
    margin:0;
    line-height:20px
}
.guestName em {
    float:right;
    line-height:30px;
}
.answers hr {
 clear:both;
}
.answers p {
    text-transform: capitalize;
    margin-bottom: 20px;
    padding: 0 10px;
    background: #DFDFDF;
    border-radius: 5px;
    display: block;
    line-height: 2em;
}

.navbar-right li {
    float:right;
}

/* Class List */

.classlist a {
    text-decoration: none;
    font-size: 16px;
}

.classlist a:hover {
    text-decoration: underline;
}

.classlist .not_found {
   margin-left: 8px;
}

.not_found {
   padding: 1px 2px;
   border-radius: 5px;
   background: #000066;
   color: white;
}

.filter-holder {
    margin-left: 0;
}

#filter {
    margin-bottom: 5px;
}

@media (max-width:992px){
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
     }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
     }
     .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
