/* guests index */
.hiderow td {
    padding: 0px !important;
    display: none;
}

.detailrow td {
    transition-duration: 500;
}

.guestrow td:not(.noclick) {
    cursor: pointer;
}

.button-holder {
    vertical-align: middle;
}

.action-col {
    width: 160px;
}

.found-col {
    width: 3em;
    text-align: center;
}

.notes-col {
    width: 2em;
    text-align: center;
}

.status-col {
    width: 4em;
    text-align: center;
}

.found, .notfound {
    width: 1.5em;
    height: 1.5em;
    border-radius: 1em;
    text-align: center;
    line-height: 1.7;
    color: white;
    display: inline-block;
}

.found {
    background-color: DarkOliveGreen;
}

.notfound {
    background-color: DarkRed;
}

.found16 {
    cursor: pointer;
}